<% hide_friendship_status ||= false %>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <figure class="image is-64x64">
                <% img_src = user.profile.avatar.attached? ? url_for(user.profile.avatar.variant(resize_to_fill: [64, 64])) : "https://via.placeholder.com/64" %>
                <img src=<%= img_src %> alt="" class="is-rounded">
            </figure>
        </div>
        <div class="level-item">
            <div>
            <p class="title is-5">
            <%= link_to user_path(user) do %>
                <%= user.profile.firstname %> <%= user.profile.lastname %>
            <% end %>
            </p>
            </div>
        </div>
    </div>
</div>
<% unless hide_friendship_status %>
    <%= render 'users/user_friendship', user: user %>
<% end %>