<% hide_friendship_status ||= false %>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <figure class="image is-64x64">
                <img src=<%= profile_picture_url(user) %> alt="" class="is-rounded">
            </figure>
        </div>
        <div class="level-item">
            <div>
            <p class="title is-5">
            <%= link_to user_path(user) do %>
                <%= user.profile.firstname %> <%= user.profile.lastname %>
            <% end %>
            </p>
            </div>
        </div>
    </div>
</div>
<% unless hide_friendship_status %>
    <%= render 'users/user_friendship', user: user %>
<% end %>