<section class="section">
    <div class="columns">

        <div class="column is-one-quarter">
            <%= render 'shared/user_panel' %>
        </div>

        <div class="column is-half">
            <h2 class="title is-3">Users</h2>
            <%= form_with url: users_path, method: :get do |f| %>
                <div class="field">
                    <div class="control has-icons-left">
                        <%= f.text_field :username, class: "input", placeholder: "Search users" %>
                        <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <%= f.submit "Search" %>
            <% end %>

            <% @users.each do |user| %>
                
                    <div class="box">
                        <%= render 'users/user', user: user %>
                    </div>
                
            <% end %>
        </div>
    </div>
</section>