<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">

<div class="box">
    <div class="media">
    <div class="media-left">
        <figure class="image is-128x128">
            <% img_src = @user.profile.avatar.attached? ? url_for(@user.profile.avatar.variant(resize_to_fill: [128, 128])) : "https://via.placeholder.com/128" %>
            <img class="is-rounded" src=<%= img_src %>>
        </figure>
    </div>

    <div class="media-right">
    <h2 class="title is-3"><%= "#{@user.profile.firstname} #{@user.profile.lastname}" %></h2>
    <div class="content">
        <small>birthday: <%= @user.profile.birthday %></small><br />
        <% if @user.profile.city && @user.profile.country %>
            <small>location: <%= @user.profile.city %>, <%= @user.profile.country %></small>
        <% end %>
        <p><%= @user.profile.bio %></p>
    </div>
    </div>
    </div>
    
    <%= render 'users/user_friendship', user: @user %>
</div>

<% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
<% end %>
</div>
</div>
</section>