<section class="section">
<div class="columns">

<div class="column is-one-quarter">
    <%= render 'shared/user_panel' %>
</div>


<div class="column is-half">

<div class="box profile-panel">
    
    <figure class="image is-128x128 profile-panel-image">
        <% img_src = @user.profile.avatar.attached? ? url_for(@user.profile.avatar.variant(resize_to_fill: [128, 128])) : "https://via.placeholder.com/128" %>
        <img class="is-rounded" src=<%= img_src %>>
    </figure>

    <h2 class="title is-3 has-text-centered"><%= "#{@user.profile.firstname} #{@user.profile.lastname}" %></h2>
    <div class="content">
        <p>
            <span class="title is-6">About Me</span><br />
            <% if @user.profile.birthday %>
                <span>Birthday: <%= @user.profile.birthday.strftime('%B %-d') %></span><br />
            <% end %>
            <% if @user.profile.city && @user.profile.country %>
                <span>Location: <%= @user.profile.city %>, <%= @user.profile.country %></span>
            <% end %>
        </p>
        
        <p class="is-size-5"><%= @user.profile.bio %></p>
    </div>
    
    <%= render 'users/user_friendship', user: @user %>
</div>

<% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
<% end %>
</div>
</div>
</section>