<section class="section">
<div class="columns">

<div class="column is-one-quarter">
    <%= render 'shared/user_panel' %>
</div>


<div class="column is-half">

<div class="box profile-panel">
    
    <figure class="image is-128x128 profile-panel-image">
        <% img_src = @user.profile.avatar.attached? ? url_for(@user.profile.avatar.variant(resize_to_fill: [128, 128])) : "https://via.placeholder.com/128" %>
        <img class="is-rounded" src=<%= img_src %>>
    </figure>

    <h2 class="title is-3 has-text-centered"><%= "#{@user.profile.firstname} #{@user.profile.lastname}" %></h2>
    <div class="content">
        <p>
            <span class="title is-6">About Me</span><br />
            <% if @user.profile.birthday %>
                <span>Birthday: <%= @user.profile.birthday.strftime('%B %-d') %></span><br />
            <% end %>
            <% if @user.profile.city && @user.profile.country %>
                <span>Location: <%= @user.profile.city %>, <%= @user.profile.country %></span>
            <% end %>
        </p>
        
        <p class="is-size-5"><%= @user.profile.bio %></p>
    </div>
    
    <% if @user == current_user %>
        <%= link_to edit_profile_path(@user.profile), class: "profile-edit" do %>
            <i class="fas fa-edit"></i>
        <% end %>
    <% end %>

    <%= render 'users/user_friendship', user: @user %>
</div>

<% if @user == current_user %>
    <div class="box">
        <%= render 'posts/form', post: Post.new %>
    </div>
<% end %>

<% @user.posts.order(created_at: :desc).each do |post| %>
    <%= render 'posts/post', post: post %>
<% end %>
</div>

    <div class="column is-one-quarter">
        <div class="panel is-info">
            <div class="panel-heading">
                    <%= @user.profile.firstname %>'s Friends
            </div>
            <div class="panel-block">
                <small><%= "#{@user.profile.firstname} #{@user.profile.lastname}" %> has <%= @user.friends.count %> friends.</small>
            </div>
            <div class="tile is-ancestor p-2">
                <div class="tile is-parent is-flex-wrap-wrap">
                
                
                <% @user.friends.limit(9).each do |friend| %>
                    <div class="tile is-4 is-child block has-text-centered friend_tile p-1">
                        <%= link_to user_path(friend) do %>
                            <figure class="image is-square">
                                <%= image_tag friend.profile.avatar.attached? ? friend.profile.avatar.variant(resize_to_fill: [100,100]) : "https://via.placeholder.com/100", class: "friend_tile--image" %>
                            </figure>
                            <%= "#{friend.profile.firstname} #{friend.profile.lastname}" %>
                        <% end %>
                    </div>
                <% end %>  
                </div>
            </div>
                
                <% if @user.friends.count > 9 %>
                    <div class="panel-block">
                        <%= link_to "See all", "#" %>
                    </div>
                <% end %>
        </div>

        <% if current_user.friends.exists?(@user.id) %>
            <div class="panel is-info">
                <div class="panel-heading has-text-centered">
                    Poke <%= @user.profile.firstname %>
                </div>
                <div class="panel-block">
                    <div class="content">
                        <% pokes = Poke.all.where(sender_id: current_user,
                                           receiver_id: @user.id) %>

                        <p>You have poked <%= "#{@user.profile.firstname} #{@user.profile.lastname}"%> <%= count = pokes.count %> <%= count == 1 ? "time" : "times" %>.</p>
                    </div>
                </div>
                <div class="panel-block is-justify-content-center">
                        <%= form_with model: Poke.new do |f| %>
                            <%= f.hidden_field :receiver_id, value: "#{@user.id}"%>
                            <%= f.submit "Poke", class: "button is-info" %>
                        <% end %>
                </div>
                    
                </div>
            </div>
        <% end %>
    </div>

    
</div>
</section>