<section class="section">
<div class="columns">

<div class="column is-one-quarter">
    <%= render 'shared/user_panel' %>
</div>

<div class="column is-half">
    <div class="block">
        <h2 class="title is-3">Friend Requests</h2>
        <% if @friend_requests.empty? %>
        <div class="content">
            <p>It looks like you don't have any friend requests at the moment.</p>
        </div>
        <% end %>
        <% @friend_requests.each do |friend_request| %>
            <% sender = friend_request.sender %>
            <div class="box">
                <div class="level">
                    <div class="level-left">
                    <div class="level-item">
                        <div class="image is-64x64 is-round">
                            <% img_src = sender.profile.avatar.attached? ? url_for(sender.profile.avatar.variant(resize_to_fill: [64, 64])) : "https://via.placeholder.com/64" %>
                            <img src=<%= img_src %> alt="" class="is-rounded">
                        </div>
                    </div>
                    <div class="level-item">
                        <div>
                            <%= link_to user_path(sender) do %>
                                <p class="title is-5"><%= "#{sender.profile.firstname} #{sender.profile.lastname}" %></p>
                            <% end %>
                        </div>
                    </div>
                    </div>
                </div>
                <% if friend_request.status == "Unanswered" %>
                    <div class="level">
                    <div class="level-item">
                        <%= form_with model: friend_request do |f| %>
                            <%= f.hidden_field :status, value: "Accepted" %>
                            <%= f.submit "Accept", class: "button is-info" %>
                        <% end %>
                    </div>
                    <div class="level-item">
                        <%= form_with model: friend_request do |f| %>
                            <%= f.hidden_field :status, value: "Declined" %>
                            <%= f.submit "Decline", class: "button is-danger" %>
                        <% end %>
                    </div>
                    </div>
                <% else %>
                    <div class="content has-text-centered">
                    <p>You <%= friend_request.status.downcase %> <%= "#{friend_request.sender.profile.firstname} #{friend_request.sender.profile.lastname}" %>'s friend request.</p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    
    <div class="block">
        <h2 class="title is-3">Sent Friend Requests</h2>
        <% @sent_friend_requests.each do |friend_request| %>
        <% receiver = friend_request.receiver %>
        <% receiver_name = "#{receiver.profile.firstname} #{receiver.profile.lastname}" %>
        <div class="box">
                <div class="level">
                    <div class="level-left">
                    <div class="level-item">
                        <div class="image is-64x64 is-round">
                            <% img_src = receiver.profile.avatar.attached? ? url_for(receiver.profile.avatar.variant(resize_to_fill: [64, 64])) : "https://via.placeholder.com/64" %>
                            <img src=<%= img_src %> alt="" class="is-rounded">
                        </div>
                    </div>
                    <div class="level-item">
                        <div>
                            <%= link_to user_path(receiver) do %>
                                <p class="title is-5"><%= receiver_name %></p>
                            <% end %>
                        </div>
                    </div>
                    </div>
                </div>
                <% if friend_request.status == "Unanswered" %>
                    <div class="content has-text-centered">
                        <p><%= receiver_name %> hasn't responded to your friend request.</p>
                    </div>
                <% else %>
                    <div class="content has-text-centered">
                    <p><%= receiver_name %> <%= friend_request.status.downcase %> your friend request.</p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    
</div>
</div>
</section>