<div class="box">
    <div class="level">
    <div class="level-left">
        <div class="level-item">
            <figure class="image is-64x64">
                <% img_src = post.user.profile.avatar.attached? ? url_for(post.user.profile.avatar) : "https://via.placeholder.com/64" %>
                <img src=<%= img_src %> alt="" class="is-rounded">
            </figure>
        </div>
        <div class="level-item">
            <div>
            <p class="title is-5">
            <%= link_to user_path(post.user) do %>
                <%= post.user.profile.firstname %> <%= post.user.profile.lastname %>
            <% end %>
            </p>
            <p class="heading"><%= distance_of_time_in_words(DateTime.current, post.created_at) %> ago</p>
            </div>
        </div>
    </div>

        <% if user_signed_in? && current_user == post.user %>
            <div class="level-right">
                <div class="level-item">
                    <%= link_to "Edit", edit_post_path(post) %>
                </div>
            </div>
        <% end %>
    </div>
    
    <div class="content">
        <%= post.body %>
    </div>
    <hr />
    <div class="level">
        <div class="level-left">
            <p class="heading">
                <%= "#{post.likes.count} #{post.likes.count != 1 ? "likes" : "like" }" %>
            </p>
        </div>
        <div class="level-right">
            <p class="heading">
                <%= "#{post.comments.count} #{post.comments.count != 1 ? "comments" : "comment"}" %>
            </p>
        </div>
    </div>
    <div class="level">
    <div class="level-item">
        <% if post_like = current_user.likes.find_by(likeable_id: post.id) %>
            <%= link_to like_path(post_like.id), method: :delete do %>
                Unlike
            <% end %>
        <% else %>
            <%= link_to post_likes_path(post.id), method: :post do %>
                Like
            <% end %>
        <% end %>
    </div>
    <div class="level-item">
        <%= link_to new_post_comment_path(post) do %>
            Comment
        <% end %>
    </div>
    </div>
    
    <% post.comments.each do |comment| %>
        <div class="media">
            <figure class="media-left">
                <div class="image is-64x64">
                    <% c_img_src = comment.user.profile.avatar.attached? ? url_for(comment.user.profile.avatar) : "https://via.placeholder.com/64" %>
                    <img src=<%= c_img_src %> alt="" class="is-rounded">
                </div>
            </figure>
            <div class="media-content">
                <p><%= comment.user.profile.firstname %> <%= comment.user.profile.lastname %></p>
                <div class="content">
                    <%= comment.body %>
                </div>
            </div>
            <% if comment.user == current_user %>
                <div class="media-right">
                    <%= link_to edit_comment_path(comment) do %>
                        Edit
                    <% end %>
                    <%= link_to comment_path(comment), method: :delete do %>
                        Delete
                    <% end %>
                </div>
            <% end %>
        </div>
    <%end %>
</div>