<div class="box">
    <%= render 'users/user_media_label', user: post.user, media: post do |section| %>
        <% if user_signed_in? && current_user == post.user %>
            <div class="level-right">
                <div class="level-item">
                    <%= link_to edit_post_path(post) do %>
                        <i class="fas fa-edit"></i>
                    <% end %>
                </div>
                <div class="level-item">
                    <%= link_to post_path(post), method: :delete do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
    
    <div class="content">
    <% if post.body %>
        <p>
            <%= post.body %>
        </p>
        
    <% end %>
    <% if post.image.attached? %>
        <figure class="image">
            <%= image_tag(post.image) %>
        </figure>
    <% end %>
    </div>
    <hr />
    <div class="level">
        <div class="level-left">
            <p class="heading">
                <%= "#{post.likes.count} #{post.likes.count != 1 ? "likes" : "like" }" %>
            </p>
        </div>
        <div class="level-right">
            <p class="heading">
                <%= "#{post.comments.count} #{post.comments.count != 1 ? "comments" : "comment"}" %>
            </p>
        </div>
    </div>
    <div class="level">
    <div class="level-item">
        <% if post_like = current_user.likes.find_by(likeable_id: post.id) %>
            <%= link_to like_path(post_like.id), method: :delete do %>
                Unlike
            <% end %>
        <% else %>
            <%= link_to post_likes_path(post.id), method: :post do %>
                Like
            <% end %>
        <% end %>
    </div>
    <div class="level-item">
        <%= link_to new_post_comment_path(post) do %>
            Comment
        <% end %>
    </div>
    </div>
    
    <% post.comments.each do |comment| %>

        <div class="media">
            <figure class="media-left">
                <div class="image is-64x64">
                    <% c_img_src = comment.user.profile.avatar.attached? ? url_for(comment.user.profile.avatar.variant(resize_to_fill: [64, 64])) : "https://via.placeholder.com/64" %>
                    <img src=<%= c_img_src %> alt="" class="is-rounded">
                </div>
            </figure>
            <div class="media-content">
                <p class="title is-6">
                <%= link_to user_path(comment.user) do %>
                    <%= comment.user.profile.firstname %> <%= comment.user.profile.lastname %>
                <% end %>
                </p>
                <div class="content">
                    <%= comment.body %>
                </div>
            </div>
            <% if comment.user == current_user %>
                <div class="media-right">
                    <%= link_to edit_comment_path(comment) do %>
                        <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to comment_path(comment), method: :delete do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>